.mi-bar-view {
    display:flex;
    align-items: center;
    gap: 65px;
}

.mi-bar-view section {
    max-width: 700px;
}

.info-basica-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detalle-bar-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ubicacion-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ubicacion-section__iframe {
    margin-top: 15px;
}

.imagenes-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.mi-bar-view-gestionar-capacidad-dialog {
    padding: 10px 0;
}

.mi-bar-view-gestionar-capacidad-dialog__button {
    align-self: flex-end;
}

vaadin-combo-box {
    width: 0;
    flex-grow: 1;
}