.puntuacion-label {
    font-size: 5rem;
    font-weight: 300;
    font-style: italic;
    line-height: 5rem;
}

.estrellas-puntuacion {
    --lumo-text-field-size: 0;
}

.estrellas-puntuacion vaadin-icon {
    color: var(--lumo-primary-color);
    width: var(--lumo-icon-size-s);
    height: var(--lumo-icon-size-s);
}

.opinion-fecha {
    font-size: var(--lumo-font-size-s);
    color: var(--lumo-secondary-text-color);
}

.opiniones-opinionesLayout {
    flex-grow: 1;
}