vaadin-custom-field[readonly] vaadin-button.fc-days-of-week-selector-button[disabled] {
    --lumo-button-size: 30px;
    --vaadin-button-font-size: 0.8em;
}

vaadin-custom-field[readonly] vaadin-button.fc-days-of-week-selector-button[theme~=primary][disabled] {
    background-color: var(--lumo-primary-color-50pct);
    border: none;
    color: var(--lumo-primary-text-color);
}

.calendar-dias-habilitado {
    --lumo-font-size-l: var(--lumo-font-size-l);
    --lumo-font-size-m: var(--lumo-font-size-s);
    --lumo-font-size-xxs: var(--lumo-font-size-s);
}

fc-badge-list {
    line-height: 0;
}