.footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 125px;
    background-color: var(--lumo-primary-color-10pct);
    flex-direction: column;
    gap: 5px;
    padding: var(--lumo-space-m);
}

.footer-item {
    font-size: 1em;
    cursor: pointer;
}

.footer-item:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 0.75em;
    color: #a6a6a6;
}