.footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: var(--lumo-primary-color-10pct);
    flex-direction: column;
    gap: 5px;
    line-height: 1;
    padding: var(--lumo-space-m) 40px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-item {
    font-size: 1em;
    cursor: pointer;
}

vaadin-button > vaadin-icon {
    width: 30px;
    height: 30px;
}

.footer-item:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 0.75em;
    color: #a6a6a6;
}

.footer-layout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 915px) {
    .footer {
        justify-content: center;
    }

    .items-list {
        justify-content: center;
    }

    .footer-layout-container {
        justify-content: center;
    }
}